body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ColumnFunc,
.ColumnDate,
.ColumnPhone,
.ColumnStatus,
.ColumnTags {
    font-size: 15px;
}

.ColumnFunc {
    font-weight: bold;
    min-width: 75px;
}
.ColumnDate {
    min-width: 150px;
}

.ColumnPhone {
    min-width: 140px;
}

.ColumnFunc div,
.ColumnPhone div,
.ColumnTags div:nth-child(1),
.ColumnTheme div:nth-child(1) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.ColumnFunc span,
.ColumnPhone span {
    display: flex;
    align-content: center;
    transform: rotate(-45deg);
    border-radius: 50%;
    margin-left: 10px;
    border: 1px solid #dbcece;
}

.ColumnDate div:nth-child(2n-1),
.ColumnPhone div:nth-child(2n-1),
.ColumnStatus div:nth-child(2n-1) {
    font-weight: bold;
}

.ColumnDate div,
.ColumnPhone div,
.ColumnStatus div,
.ColumnTags div:nth-child(1),
.ColumnTheme div:nth-child(1) {
    margin-bottom: 5px;
}

.ColumnTags,
.ColumnTheme {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 106px;
    padding-top: 0;
    min-width: 100px;
}

.ColumnTags div:nth-child(n+2),
.ColumnTheme div:nth-child(n+2) {
    background: #bfc9d5;
    border-radius: 6px;
    border: 1px solid #bebebe;
    margin-bottom: 3px;
    margin-left: 5px;
    padding: 2px;
}

.ColumnTags span {
    display: flex;
    align-items: center;
    margin-left: 5px;
    border-radius: 50%;
}

.addMark {
    display: flex;
    flex-direction: column;
    background: #ffbd04;
}

.addMark button {
    background: #d0d2db;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    cursor: pointer;
}

